body {
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #E6E6E6;
}

.cell {
	width: 60px;
	height: 60px;
	border: 2px dotted #E6E6E6;
	margin: 5px;
	z-index: 1;
	float: left;
}

.cell:hover {
    background: rgba(78, 78, 78, .75);
}

#board {
	padding: 5px;
	width: 666px;
	height: 666px;
	background: linear-gradient(#594EC3, #30239A);
	border: 20px solid #4E4E4E;
	position: relative;
	margin: auto;
}

.post {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	background-color: #4E4E4E;
	z-index: 2;
	border: 2px dotted #DDDDDD;
	position: absolute;
	opacity: 0.1;
}

.post:hover {
	opacity: 0.75;
}

.player {
	position: absolute;
	width: 63px;
	height: 63px;
	border-radius: 50%;
	text-align: center;
	line-height: 63px;
	z-index: 3;
}

#me {
    background: linear-gradient(#fad353, #f5b828);
	border: 1px solid black;
}

#you {
    background: linear-gradient(#82da35, #61bd10);
	border: 1px solid black;
}

.fence {
	border: 2px dotted #E6E6E6;
    background: rgba(78, 78, 78, .75);
	position: absolute;
    z-index: 1;
}

#yourInfo {
    float: right;
    margin-right: 3em;
}

#myInfo {
    float: left;
    margin-left: 3em;
}

#gameInfo {
    margin-top: 1em;
    text-align: center;
}